body {
  background-image: url("skysports-harry-kane-spurs_5102643.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
}
h1, h2, p {
  color: white;
}

#iframeparentdiv {
  height: 200px
}