<!DOCTYPE html>
<html>

<script src="{{ url_for('static', filename='signin.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">

<body>

<h1>Embedded Sign In</h1>

<p>Sign in with sky</p>
<button id="skysigninbuton" onclick="skysigninclicked()">Sign-in</button>
<!--<a href="http://testsocialsignin.com:5000/socialsignin" onClick="return popup(this, 'notes')">my popup</a>-->

<p>Sign in with facebook</p>
<a href="http://testsocialsignin.com:5000/socialsignin" onClick="return popup(this, 'notes')">my popup</a>
<p>Cookie State is: {{ encrypstate }}</p>
<button id="accessButon" onclick="accessRequest()">Request access</button>
</body>
</html>