<!DOCTYPE html>
<html>

   <head>
      <title>Embedded sign-in to Sky Sports</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='sports.css') }}">
   </head>

   <body>
      <h1>Sky Sports</h1>

      <iframe src = "https://myskyid.mysky.com/signin" width = "555" height = "200" sandbox="allow-storage-access-by-user-activation
                 allow-scripts
                 allow-same-origin">
         Sorry your browser does not support inline frames.
      </iframe>

      <p>Rest of page</p>
   </body>

</html>